name: Fix and Format

on:
  workflow_dispatch:

jobs:
  fix-and-fmt:
    name: Fix and Format
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.17.x

    - name: Go Fix
      run: go fix ./...

    - name: Go Format
      run: go fmt ./...

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        commit-message: "Apply go fix and go fmt"
        title: "Apply go fix and go fmt"
        body: "This PR applies `go fix` and `go fmt` to the codebase."
        branch: "fix-and-fmt-patch"
