on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.17.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Test
      run: go test ./...
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.17.x

    - name: Go Vet
      run: go vet ./...

    - name: Go Fix
      run: go fix ./...

    - name: Go Format
      run: go fmt ./...

    - name: Check for changes
      run: |
        git diff --exit-code || (echo "Run go fix ./... && go fmt ./... and commit changes" && exit 1)
